<div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a routerLink = "/vehicles" style="cursor: pointer" class="navbar-brand">Vehicles</a>
        </div>
        <div class="collapse navbar-collapse">
          <div class="nav navbar-nav">
              <ul class="nav navbar-nav">
            <li><a routerLink="vehicles">Vehicles</a></li>
            <li><a routerLink="average">Average of prices</a></li>
          </ul>
            </div>
          <div class="nav navbar-nav navbar-right">
            <ul class="nav nav-tabs">
              <li><a routerLink="signin">Login</a></li>
              <li><a routerLink="signup">Register</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
</div>